*{
    padding: 0;
    margin: 0;
}
.Restaurant_cards{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.restaurant_card{
    width: 20%;
    box-shadow: 5px 5px 40px rgb(5, 5, 5,0.5);
    border-radius: 5px;
}
.card_img{
    position: relative;
}
.card_img p{
    position: absolute;
    bottom: 10px;
    left: 5px;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    
}
.card_img img{
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
}
.details{
    padding: 5px;

}
.group{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: rgb(74, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-transform: capitalize;
}
.group .name{
    font-weight: bold;
    color: black;

}
.group .rate{
    font-weight: 700;
    background-color: green;
    color: white;
    padding: 3px;
    text-align: center;

    border-radius: 5px;
}
@media(max-width:780px){
    .Restaurant_cards{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .restaurant_card{
        width: 48%;
    }
    .group{
        font-size: 10px;
    }

}
@media(min-width:768px){
    .restaurant_card{
        width: 20%;
    }
    .group{
        font-size: 10px;
    }
}
